{% extends 'authapp/base.html' %}
{% load static %}

{% block title %}Вход в личный кабинет{% endblock %}
{% block content %}
        <div class="auth">
            <div class="auth-container">
                <div class="card">
                    <header class="auth-header">
                        <h1 class="auth-title">
                            <div class="logo">
                                <span class="l l1"></span>
                                <span class="l l2"></span>
                                <span class="l l3"></span>
                                <span class="l l4"></span>
                                <span class="l l5"></span>
                            </div> ModularAdmin </h1>
                    </header>
                    <div class="auth-content">
                        <p class="text-center">LOGIN TO CONTINUE</p>
                        <form id="login-form" action="{% url 'authapp:login' %}" method="GET" novalidate="">
                            {% csrf_token %}
                            {{ login_form.username }}
{#                            <div class="form-group">#}
{#                                <label for="username">Username</label>#}
{#                                <input type="email" class="form-control underlined" name="username" id="username" placeholder="Your email address" required>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <label for="password">Password</label>#}
{#                                <input type="password" class="form-control underlined" name="password" id="password" placeholder="Your password" required>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <label for="remember">#}
{#                                    <input class="checkbox" id="remember" type="checkbox">#}
{#                                    <span>Remember me</span>#}
{#                                </label>#}
{#                                <a href="reset.html" class="forgot-btn pull-right">Forgot password?</a>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <button type="submit" class="btn btn-block btn-primary">Login</button>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <p class="text-muted text-center">Do not have an account?#}
{#                                    <a href="signup.html">Sign Up!</a>#}
{#                                </p>#}
{#                            </div>#}
                        </form>
                    </div>
                </div>
                <div class="text-center">
                    <a href="index.html" class="btn btn-secondary btn-sm">
                        <i class="fa fa-arrow-left"></i> Back to dashboard </a>
                </div>
            </div>
        </div>
        <!-- Reference block for JS -->
        <div class="ref" id="ref">
            <div class="color-primary"></div>
            <div class="chart">
                <div class="color-primary"></div>
                <div class="color-secondary"></div>
            </div>
        </div>




{#{% block content %}#}
{#    <div class="page-section section mt-80 mt-lg-60 mt-md-60 mt-sm-60 mt-xs-40 mb-40 mb-lg-20 mb-md-20 mb-sm-20 mb-xs-0">#}
{#        <div class="container">#}
{#            <div class="row">#}
{##}
{#                <div class="col-lg-4 col-12 mb-40">#}
{#                    <div class="login-register-form-wrap">#}
{#                        <h3>Вход</h3>#}
{#                        <form action="{% url 'authapp:login' %}" method="post" class="mb-30">#}
{#                            <div class="row">#}
{#                                {% csrf_token %}#}
{#                                {{ login_form.as_p }}#}
{#                                <div class="col-12"><input type="submit" value="Войти"></div>#}
{##}
{#                            </div>#}
{#                        </form>#}
{#                        <h4>You can also login with...</h4>#}
{#                        <div class="social-login">#}
{#                            <a href="#"><i class="fa fa-facebook"></i></a>#}
{#                            <a href="#"><i class="fa fa-twitter"></i></a>#}
{#                            <a href="#"><i class="fa fa-google-plus"></i></a>#}
{#                            <a href="#"><i class="fa fa-pinterest"></i></a>#}
{#                            <a href="#"><i class="fa fa-linkedin"></i></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}